@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Caveat&family=Heebo:wght@300&family=Rubik:wght@300&display=swap');
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    
}
/*menu-bar starting*/

ul{
    list-style: none;
    display: inline-flex;
    margin-top: -15px;
}

 a{
    color:black;
    text-decoration: none;
}
header{
    z-index: 1;
    background-color:burlywood;
    position: fixed;
    top:0;
    height:150px;
    width:100%;
    
}
.communicate-us{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px ;
    height:60px;
    width:100%;
    font-size: 20px;
}
.sub-communicate-us{
    display: flex;
    flex-direction: row;  
   
}
.menu-bar{
    margin-right: 75px;
}
.fa-brands{
    color:black;
    padding-right: 15px;
    transition: 0.5s;
}
.fa-solid{
    padding-right: 7px;
    transition: 0.5s;
}
.fa-brands:hover{
    color:rgb(87, 17, 17);
    font-size: 22px;
    transform:scaleX(1.1);

}
.fa-solid:hover{
    color:rgb(87, 17, 17);
    transform:scaleX(1.1);

}
.connect{
    font-size: 18px;
    margin-left: 25px;
    font-weight: 600;
    transition: 0.5s;
}
.line{
    height: 0.5px;
    width:100%;
    background-color: black;
    position: relative;
    top:-40px;


}
.navigate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    width:100%;
    margin-top:0;
    font-size: 22px;
    

}
.sub-logo{
    margin-left: 55px;
    margin-top: -30px;
}
.sub-navigate{
    margin-right: 45px;
    margin-top: -12px;
}

.connect:hover{
    transform: scale(1.1);
    color:rgb(87, 17, 17);
    font-weight: 800;
}

.sub-navigate ul li .navi:hover{
    color:rgb(87, 17, 17); 


}
.logo{
    height:60px ;
    width:60px;

}
.navi,.navi-button,.service{
    padding-right: 40px;
    font-weight: 600;
    position: static;
}


.service:hover{
    color: brown;
}
.navi-button{
    border:2px solid rgb(36, 7, 7);
    background-color:rgb(36, 7, 7) ;
    color:burlywood;
    padding: 5px;
    border-radius: 20px;
}
.navi-button:hover{
    color:rgb(226, 157, 68)
}
.sub-service{
    display: none;
    font-size: 20px;
}
.sub-service1:hover{

color:brown;
}
/*drop-down starting*/
.sub-navigate ul li:hover .sub-service ul li:hover{
font-weight: 1000;
}
.sub-navigate ul li:hover .sub-service {
    display: block;
    position: absolute;
    background-color: rgb(231, 228, 223);
    margin-top: 1px;
   margin-left: 0;

}
.sub-navigate ul li:hover .sub-service ul li{

    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.sub-navigate ul li:hover .sub-service ul li a{
    padding-right: 10px;
    font-size: 21px;
    font-weight: 700;
}
.sub-navigate ul li:hover .sub-service ul {
    padding-bottom: 10px;
    display: block;
    margin:1px;
}
.sub-service1.hover{
    display: block;

}
/*drop-down ends*/
/*menu-bar ending */

/*backround image starting*/
.bg-img{
    background-image:linear-gradient(rgb(4,9,34,0.3),rgb(4,9,34,0.3)),url("../../assets/images/Aboutus-page/bg-image1.webp");
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:500px;
}

.bg-img h1{
    text-transform: uppercase;
    font-family:sans-serif;
    color:white;
    padding-top: 280px;
    padding-left: 300px;
    font-size: 70px;
   
}
h1 span{
    color:brown;
}
.bg-img h1:hover{
    -webkit-text-stroke: 2px gray;
    color:transparent;
}

/*backround image ends*/
.specialities{
   
    height: 250px;
    width:100%;
  display: flex;
  justify-content: center;
}
.specialities p{
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: rgba(166, 170, 170, 0.45);
    font-size: 22px;
    color: black;
    font-weight: 600;
    text-align: center;
    line-height: 39px;
}
.practices,.sub-practices{
    padding:40px;
    background-color: #f1eded;
    height:350px;
    width:100%;
    display: flex;
    flex-direction: row;
}
.practices img,.sub-practices img{
    height:350px;
    width:350px;
}
.content ul{
    display: flex;
    flex-direction: column;
}
.content h1{
    color:brown;
    text-align: center;
}
.content ul li{
    list-style: disc;
    margin-left: 50px;
    font-size: 22px;
    text-align: justify;
padding-bottom: 30px;
}
.sub-practices{
    background-color: #ffffff;
}
.content p{
    word-spacing: 4px;
    width:900px;
    margin-right:50px;
    margin-left: 50px;
    font-size: 22px;
    text-align: justify;
padding-bottom: 30px;
}
/*footer starting*/
footer{
    margin-top: 30px;
    background-color: #24262b;
    height:300px;
    width:100%;
}

footer .row{
    display: flex;
    flex-direction: row;
}
footer ul{
list-style: none;
display: flex;
flex-direction: column;
}
.footer{
background-color: #24262b;
padding: 70px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col p{

font-size: 27px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}


footer ul li{
    font-size: 23px;
    margin-bottom: 20px;
    
}
.footer-col ul li a{
font-size: 16px;
color: #ffffff;
text-decoration: none;
font-weight: 300;
margin-left: -40px;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
.arrow{
    position :relative;
    position:sticky;
    left:1400px;
    bottom:100px;
     color:#bbbbbb;
     font-size: 50px;
 }
/*footer ending*/
@media screen and (max-width:600px){

    /* start of header */

    header {
        display: none;
    }

    .mobile-nav-one, .mobile-nav-two{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
        padding: 10px;
        background-color: burlywood;
        z-index: 1;
        
    }

    .mobile-nav-one {
        height: 40px;
    }

    .mobile-nav-two {
        height: 60px;
        position: sticky;
        top: 0;
        padding: 10px 20px;
    }
    /* end of header */

    .bg-img{
        /* padding: 0;
        margin: 0; */
        background-image:linear-gradient(rgb(4,9,34,0.3),rgb(4,9,34,0.3)),url("../../assets/images/Aboutus-page/bg-image1.webp");
         background-size:cover;
         background-repeat: no-repeat;
         height:200px;
         width:100%;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         padding-top:60px;
         /* padding-top: 200px; */
    }
    .bg-img h1{
        padding: 0;
        font-size: 30px;
    }
    .practices,.sub-practices{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: auto;
        align-items: center;
    }
    .content ul{
        width:auto;
        /* margin:20px; */
        margin: 0%;
        padding: 5px;
    }
    .content ul li{
        margin: 0%;
        padding:2px;
    }
    .practices img,.sub-practices img{
        height:250px;
        width:250px;
        padding: 1px;
    }
    .specialities{
        width:auto;
        height:auto;
    }
    .sub-practices{
        display: flex;
        flex-direction: column;
    }
    .sub-practices .content p{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;

    }
    footer{
        display:none;
    }
    .container{
        display:none;
    }

    /*drop-down starting*/

    .burger-menu{
        display: block;
    }

    .burger-menu input[type=checkbox]{
        display: none;
    }

    .burger-menu .burger-menu-mobile {
        display: none;
        position: absolute;
        top: 80px;
        background-color: white;
        right: 5px;
        padding: 0 10px 10px 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .burger-menu input[type=checkbox]:checked ~ .burger-menu-mobile{
        display: block;
        transition: .5s ease;
    }
    .burger-menu .burger-menu-mobile .side-menu-items{
        display:none;
    }
    .burger-menu .burger-menu-mobile .side-dropdown:hover{
        font-size: medium;
    }
    .burger-menu .burger-menu-mobile .side-menu-items {
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
    }
    /*menu-bar ending */
/*service drop-down*/
.service-dropdown {
    display: none;
    width: 135px;
background-color: antiquewhite;
padding:5px;
position:absolute;
right:140px;
top:80px;
border-radius: 10px;

}

.service-dropdown a {
    text-align: center;
}

input[type=checkbox]:checked ~ .service-dropdown{
    display: block;
}


.side-dropdown:hover .side-menu-items{
    display:block;

}

}