@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Caveat&family=Heebo:wght@300&family=Rubik:wght@300&display=swap');
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    
}
/*menu-bar starting*/

ul{
    list-style: none;
    display: inline-flex;
    margin-top: -15px;
}

 a{
    color:black;
    text-decoration: none;
}
header{
    z-index: 1;
    background-color:burlywood;
    position: fixed;
    top:0;
    height:150px;
    width:100%;
    
}
.communicate-us{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px ;
    height:60px;
    width:100%;
    font-size: 20px;
}
.sub-communicate-us{
    display: flex;
    flex-direction: row;  
   
}
.menu-bar{
    margin-right: 75px;
}
.fa-brands{
    color:black;
    padding-right: 15px;
    transition: 0.5s;
}
.fa-solid{
    padding-right: 7px;
    transition: 0.5s;
}
.fa-brands:hover{
    color:rgb(87, 17, 17);
    font-size: 22px;
    transform:scaleX(1.1);

}
.fa-solid:hover{
    color:rgb(87, 17, 17);
    transform:scaleX(1.1);

}
.connect{
    font-size: 18px;
    margin-left: 25px;
    font-weight: 600;
    transition: 0.5s;
}
.line{
    height: 0.5px;
    width:100%;
    background-color: black;
    position: relative;
    top:-40px;


}
.navigate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    width:100%;
    margin-top:0;
    font-size: 22px;
    

}
.sub-logo{
    margin-left: 55px;
    margin-top: -30px;
}
.sub-navigate{
    margin-right: 45px;
    margin-top: -12px;
}

.connect:hover{
    transform: scale(1.1);
    color:rgb(87, 17, 17);
    font-weight: 800;
}

.sub-navigate ul li .navi:hover{
    color:rgb(87, 17, 17); 


}
.logo{
    height:60px ;
    width:60px;

}
.navi,.navi-button,.service{
    padding-right: 40px;
    font-weight: 600;
    position: static;
}


.service:hover{
    color: brown;
}
.navi-button{
    border:2px solid rgb(36, 7, 7);
    background-color:rgb(36, 7, 7) ;
    color:burlywood;
    padding: 5px;
    border-radius: 20px;
}
.navi-button:hover{
    color:rgb(226, 157, 68)
}
.sub-service{
    display: none;
    font-size: 20px;
}
.sub-service1:hover{

color:brown;
}
/*drop-down starting*/
.sub-navigate ul li:hover .sub-service ul li:hover{
font-weight: 1000;
}
.sub-navigate ul li:hover .sub-service {
    display: block;
    position: absolute;
    background-color: rgb(231, 228, 223);
    margin-top: 1px;
   margin-left: 0;

}
.sub-navigate ul li:hover .sub-service ul li{

    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.sub-navigate ul li:hover .sub-service ul li a{
    padding-right: 10px;
    font-size: 21px;
    font-weight: 700;
}
.sub-navigate ul li:hover .sub-service ul {
    padding-bottom: 10px;
    display: block;
    margin:1px;
}
.sub-service1.hover{
    display: block;

}
/*drop-down ends*/
/*menu-bar ending */

/*bg-image starting*/
.bg-image{
    background: url("../../assets/images/service2_page/backround-contact.jpg");
    height: 150px;
    width:100%;
    margin-top: 150px;
    background-color: rgb(220, 212, 212);
}
.bg-image{
    font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: rgb(223, 211, 211);
}
/*bg-image starting*/


/*connect-with-us starting*/
.connect-with-us{
    padding: 40px 40px 100px 40px;
    background-color: rgb(223, 217, 211);
    display: flex;
    flex-direction: row;
   
}
.customer-care{
    border: 2px black solid;
    border-radius: 10px;
    height: 400px;
    width: 400px;
}
.connect-with-us p{
    font-size: 23px;
    word-spacing: 7px;
    text-align:justify ;
    font-weight: 450;
}
.sub-connect{
 margin-left: 40px;
}
.connect-with-us h1{
    font-size: 20px;
}
.connect-with-us h1 a{
    color: blueviolet;
}
.connect-with-us h1 a:hover{
    font-size: 22px;
    color: rgb(179, 139, 216);
}
/*connect-with-us ends*/

