@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Caveat&family=Heebo:wght@300&family=Rubik:wght@300&display=swap');
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    
}
/*menu-bar starting*/

ul {
    list-style: none;
    display: inline-flex;
    margin-top: -15px;
}

a {
    color: white;
    text-decoration: none;
}

header {
    z-index: 1;
    background-color: burlywood;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;

}

.menu-bar {
    margin-right: 75px;
}

.navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin-top: 40px;
    font-size: 22px;

}

.sub-logo {
    margin-left: 55px;
    margin-top: -30px;
}

.sub-navigate {
    margin-right: 45px;
    margin-top: -12px;
}

.connect:hover {
    transform: scale(1.1);
    color: black;
    font-weight: 800;
}

.sub-navigate ul li .navi:hover {
    color: brown;
}

.logo {
    height: 60px;
    width: 60px;
}

.navi,
.navi-button,
.service {
    padding-right: 40px;
    font-weight: 600;
    color: black;
}


.service:hover {
    color: brown;
}

.navi-button {
    border: 2px solid rgb(36, 7, 7);
    color: rgb(245, 240, 233);
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(51, 18, 18);
}

.navi-button:hover {
    color: rgb(238, 189, 83);

}

.sub-service {

    display: none;
    font-size: 20px;
}

.sub-service1:hover {

    color: brown;
}

/*drop-down starting*/
.sub-navigate ul li:hover .sub-service ul li:hover {
    font-weight: 1000;
}

.sub-navigate ul li:hover .sub-service {

    display: block;
    position: absolute;
    background-color: rgb(231, 228, 223);
    margin-top: 1px;
    margin-left: 0;


}

.sub-navigate ul li:hover .sub-service ul li {

    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.sub-navigate ul li:hover .sub-service ul li a {
    color: black;
    padding-right: 10px;
    font-size: 21px;
    font-weight: 700;
}

.sub-navigate ul li:hover .sub-service ul {
    padding-bottom: 10px;
    display: block;
    margin: 1px;
}

.sub-service1.hover {
    display: block;

}

/*drop-down ends*/
/*menu-bar ending */

.header{
    background-image:linear-gradient( rgba(7, 7, 7, 0.517),rgba(239, 199, 129, 0.779)), url("../../assets/images/contact_page/header-bg.webp");
    height: 350px;
    width: 100%;
    text-align: center;
}
.header h1{
    padding-top: 80px;
    color: #4d360c;
    font-size: 60px;
}
.header p{
    margin-top: 20px;
    font-size: 32px;
    color: white;
}
.header button{
    margin-top: 20px;
    padding: 10px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.getintouch{
    display: flex;
    margin-top: 70px;
}
.left-side,.right-side{
    margin-left: 50px;
    width: 50%;
    font-size: 22px;
}
.para, #name,#email,#message,.right-side h2, .right-side p{
    margin-top: 20px;
}
#name,#email,#message{
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #b1abab;
    width: 550px;
    height: 50px;
}
.left-side button,.footer button{
    margin-top: 20px;
    font-size: 18px;
    background-color:brown;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.emailid{
    color: #bd8e43;
    cursor: pointer;
}

.left-side h1, .right-side h1,.right-side h2{
    font-size: 32px;
}
/*faqs starting*/
#faqs{
    display: flex;
    flex-direction: column;
}
.side{
    margin-left: 15px;
    display:flex;
    flex-direction: row;
}
.box{
    margin-left: 40px;
    margin-top:30px;
    height:190px;
    width:670px;
    background-color: #dcd4d4;

}
.faq-heading{
 font-size: 30px;
 color: brown;
 text-align: center;
}
.box h4{
    margin-left:20px ;
    margin-right:20px;
font-size: 25px;
}
.box p{
    margin-left:20px ;
    margin-right:20px;
text-align: justify;
font-size:18px;
}
/*faqs ends*/

/*footer starting*/
.footer{
    background-image: url("../../assets/images/contact_page/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 50px;
    margin-top: 60px;
    font-size: 60px;
    text-align: center;
    
}
.footer button{
    font-size: 26px;
    border-radius: 15px;
}
/*footer ends*/