@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Caveat&family=Heebo:wght@300&family=Rubik:wght@300&display=swap');
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    
}

.fa-brands{
    color:black;
    padding-right: 15px;
    transition: 0.5s;
}
.fa-solid{
    padding-right: 7px;
    transition: 0.5s;
}
ul{
    list-style: none;
    display: inline-flex;
    
    margin-top: -15px;
}

 a{
    color:black;
    text-decoration: none;
}
header{
    z-index: 1;
    background-color:burlywood;
    position: fixed;
    top:0;
    height:150px;
    width:100%;
    
}
.row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px ;
    height:60px;
    width:100%;
    font-size: 20px;
   
   


}
.row1a{
    display: flex;
    flex-direction: row;
    
   
}
.row1b{
    margin-right: 75px;
}
.fa-brands:hover{
    color:rgb(87, 17, 17);
    font-size: 22px;
    transform:scaleX(1.1);

}
.fa-solid:hover{
    color:rgb(87, 17, 17);
    transform:scaleX(1.1);

}
.connect{
    font-size: 18px;
    margin-left: 25px;
    font-weight: 600;
    transition: 0.5s;
}
.line{
    height: 0.5px;
    width:100%;
    background-color: black;
    position: relative;
    top:-40px;


}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    width:100%;
    margin-top:0;
    font-size: 22px;
    

}
.row2a{
    margin-left: 55px;
    margin-top: -30px;
}
.row2b{
    margin-right: 45px;
    margin-top: -12px;
}

.connect:hover{
    transform: scale(1.1);
    color:rgb(87, 17, 17);
    font-weight: 800;
}

.row2b ul li .navi:hover{
    color:rgb(87, 17, 17); 


}
.logo{
    height:60px ;
    width:60px;

}
.navi,.navi1,.service{
    padding-right: 40px;
    font-weight: 600;
    position: static;
}


.service:hover{
    color: brown;
}
.navi1{
    border:2px solid rgb(36, 7, 7);
    background-color:rgb(36, 7, 7) ;
    color:burlywood;
    padding: 5px;
    border-radius: 20px;
}
.navi1:hover{
    color:rgb(226, 157, 68)
}
.sub-service{
    display: none;
    font-size: 20px;
}
.sub-service1:hover{

color:brown;
}
.row2b ul li:hover .sub-service ul li:hover{
font-weight: 1000;
}
.row2b ul li:hover .sub-service {
    display: block;
    position: absolute;
    background-color: rgb(231, 228, 223);
    margin-top: 1px;
   margin-left: 0;

}
.row2b ul li:hover .sub-service ul li{

    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.row2b ul li:hover .sub-service ul li a{
    padding-right: 10px;
    font-size: 21px;
    font-weight: 700;
}
.row2b ul li:hover .sub-service ul {
    padding-bottom: 10px;
    display: block;
    margin:1px;
}
.sub-service1.hover{
    display: block;
}
/*nav -ending */

/*backround image starting*/
.bg-img{
    background-image:linear-gradient(rgb(4,9,34,0.3),rgb(4,9,34,0.3)),url("../../assets/images/Aboutus-page/bg-image1.webp");
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:500px;
}

.bg-img h1{
    text-transform: uppercase;
    font-family:sans-serif;
    color:white;
    padding-top: 280px;
    padding-left: 300px;
    font-size: 70px;
   
}
h1 span{
    color:brown;
}
.bg-img h1:hover{
    -webkit-text-stroke: 2px gray;
    color:transparent;
}

/*backround image ends*/

/*specailities starting*/
.specialities {
    height:400px;
    width:100%;
}
.specialities p{
width:900px;

}


/*specaities ends*/

/*footer starting*/

footer{
    position: relative;
    bottom:0;
    background-color: #24262b;
    height:300px;
    width:100%;
}

footer .row{
    display: flex;
    flex-direction: row;
}
footer ul{
list-style: none;
display: flex;
flex-direction: column;
}
.footer{
background-color: #24262b;
padding: 70px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col p{

font-size: 27px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}


footer ul li{
    font-size: 23px;
    margin-bottom: 20px;
    
}
.footer-col ul li a{
font-size: 16px;
color: #ffffff;
text-decoration: none;
font-weight: 300;
margin-left: -40px;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
.arrow{
    position :relative;
    position:sticky;
    left:1400px;
    bottom:100px;
     color:#bbbbbb;
     font-size: 50px;
 }
/*footer ending*/
