@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Caveat&family=Heebo:wght@300&family=Rubik:wght@300&display=swap');
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    background-image: url("../../assets/images/shipping_page/pexels-photo-3196043.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-brands{
    color:white;
    padding-right: 15px;
}
.fa-solid{
    padding-right: 7px;
}
ul{
    list-style: none;
    display: inline-flex;
    
    margin-top: -15px;
}

 a{
    color:white;
    text-decoration: none;
}
header{
    z-index: 1;
    background-color:rgb(94, 59, 13);
    position: fixed;
    top:0;
    height:150px;
    width:100%;
    
}
.row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px ;
    height:60px;
    width:100%;
    font-size: 20px;
   
   


}
.row1a{
    display: flex;
    flex-direction: row;
    
   
}
.row1b{
    margin-right: 75px;
}
.fa-brands:hover{
    color:rgb(233, 198, 146);
    font-size: 22px;

}
.fa-solid:hover{
    color:rgb(221, 172, 98);
}
.connect{
    font-size: 18px;
    margin-left: 25px;
    transition: 0.5s;
}
.line{
    height: 0.5px;
    width:100%;
    background-color: rgb(232, 221, 221);
    position: relative;
    top:-40px;


}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    width:100%;
    margin-top:0;
    font-size: 20px;
    

}
.row2a{
    margin-left: 55px;
    margin-top: -30px;
}
.row2b{
    margin-right: 45px;
    margin-top: -12px;
}

.connect:hover{
    transform: scale(1.1);
    color:rgb(230, 191, 130);
}
.navi:hover{
    color:rgb(230, 191, 130);    

}
.logo{
    height:60px ;
    width:60px;

}
.navi,.navi1,.service{
    padding-right: 20px;
    font-weight: 600;
    position: static;
}
.service:hover{
    color:rgb(230, 191, 130);
}
.navi1{
    border:2px solid rgb(36, 7, 7);
    background-color:rgb(36, 7, 7) ;
    color:burlywood;
    padding: 5px;
    border-radius: 20px;
}
.navi1:hover{
    color:rgb(226, 157, 68)
}
.sub-service{
    display: none;
    font-size: 20px;
}
.sub-service1:hover{

color:rgb(230, 191, 130);
}
.row2b ul li:hover .sub-service{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 6px;
    margin-left:5px ;
    padding-top:10px ;
}
.row2b ul li:hover .sub-service ul {
    display: block;
    margin:1px;
}
.sub-service1.hover{
    display: block;
}
/*nav -ending */

main{ 
   
    display: flex;
    justify-content: center;
}

.verification{
    height:800px ;
    width:400px ;
    background: transparent;
    background-color: rgb(213, 201, 180);
    margin-top: 200px;
padding:20px;
border-radius: 20px;
margin-bottom:100px ;
    
}
.verification h1{
    text-align: center;
}
.column{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.column input{
    padding: 7px;
    font-size: 18px;
}
.column label{
    color:rgb(68, 13, 13);
    font-size: 20px;
    font-weight: 900px;
}
.verification button{
    height: 40px;
    width:200px;
    background-color: rgb(152, 106, 41);
    border: 1px solid  rgb(152, 106, 41);
    margin-left: 90px;
    margin-top: 20px;
    font-size: 20px;
    color: aliceblue;
}
.verification button:hover{
    background-color: rgb(107, 63, 19);
}
