@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Caveat&family=Heebo:wght@300&family=Rubik:wght@300&display=swap');
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    
}

.fa-brands{
    color:black;
    padding-right: 15px;
}
.fa-solid{
    padding-right: 7px;
}
ul{
    list-style: none;
    display: inline-flex;
    
    margin-top: -15px;
}

 a{
    color:black;
    text-decoration: none;
}
header{
    z-index: 1;
    background-color:burlywood;
    position: fixed;
    top:0;
    height:150px;
    width:100%;
    
}
.row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px ;
    height:60px;
    width:100%;
    font-size: 20px;
   
   


}
.row1a{
    display: flex;
    flex-direction: row;
    
   
}
.row1b{
    margin-right: 75px;
}
.fa-brands:hover{
    color:brown;
    font-size: 22px;

}
.fa-solid:hover{
    color:brown;
}
.connect{
    font-size: 18px;
    margin-left: 25px;
    transition: 0.5s;
}
.line{
    height: 0.5px;
    width:100%;
    background-color: black;
    position: relative;
    top:-40px;


}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    width:100%;
    margin-top:0;
    font-size: 20px;
    

}
.row2a{
    margin-left: 55px;
    margin-top: -30px;
}
.row2b{
    margin-right: 45px;
    margin-top: -12px;
}

.connect:hover{
    transform: scale(1.1);
    color:brown;
}
.navi:hover{
    color:brown;    

}
.logo{
    height:60px ;
    width:60px;

}
.navi,.navi1,.service{
    padding-right: 20px;
    font-weight: 600;
    position: static;
}
.service:hover{
    color: brown;
}
.navi1{
    border:2px solid rgb(36, 7, 7);
    background-color:rgb(36, 7, 7) ;
    color:burlywood;
    padding: 5px;
    border-radius: 20px;
}
.navi1:hover{
    color:rgb(226, 157, 68)
}
.sub-service{
    display: none;
    font-size: 20px;
}
.sub-service1:hover{

color:brown;
}
.row2b ul li:hover .sub-service{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 6px;
    margin-left:5px ;
    padding-top:10px ;
}
.row2b ul li:hover .sub-service ul {
    display: block;
    margin:px;
}
.sub-service1.hover{
    display: block;
/*nav -ending */
}
.bgimage{

    
    width:100%;
    height:700px;
    background-image:url("../images/index_page/timer.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    
}
.bgimage h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400px;
    font-size: 60px;
    color:rgb(245, 237, 237);
    
    margin-left: 60px;
}
.bgimage p{
    font-size:20px;
    color:white;
    margin-left: 60px;
}
.part1{
    display: flex;
    flex-direction:row;
    height: 350px;
    width:100%;
}
.part1a,.part1b{
  height:250px;
  width:600px;   
 background-color: rgb(216, 195, 167);
 margin-top: 40px;
 margin-left: 70px;
 margin-right: 70px;
 margin-bottom: 40px;
}
.repair{
    height:250px;
    width:600px;  
    position: relative;
    top:20px;
    left:20px;
}

.repair:hover{
    height:230px;
    width:580px;  

}
.repaira{
    font-size: 30px;
    border:4px rgb(216, 195, 167) solid;
    height:50px;
    width:450px;
    background-color:rgb(216, 195, 167);
    position: relative;
    top:-20px;
    left:200px;

}
.bglogo{
    height:200px ;
    width: 200px;
    padding-top: 200px;
    margin-left:60px ;
}
.subvid{
    text-align: center;
}
.subvid1{
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;

}
.part2{
    
    height:480px;
    width:95%;
    margin-bottom: 30px;
    margin-left:35px;
    background-color: antiquewhite;
    border-radius: 30px;
    box-shadow: inset;
    box-shadow: 10px 10px 20px rgb(220, 185, 132);
    transition: 1s;
}
.part2 p{  
    padding-left: 30px;
    padding-right: 30px;
    word-spacing: 7px;
    line-height: 50px;   
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
    text-indent: 70px;
}
.part2 h1{
    font-size:40px;
    text-align: center;
    padding-top: 35px;

}
.part2:hover{
      transform:translateX(10px);
}
.part2 div{
    width: 15%;
    height: 4px;
    background: brown;
    position: relative;
    animation: mymove 2s infinite;
    margin-left: 40%;
}
@keyframes mymove{
    from{left: 0px;}
    to{left: 20px; }
}
/*video starting*/
.vid{
    width:100%;
    height:790px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subvid2 h1,h2:hover{
    -webkit-text-stroke: 2px rgb(238, 216, 216);
    color:transparent;
}
.subvid2 h2{
font-size: 70px;
}
.back-video{
    position: absolute;  
    height: 790px;
    z-index: -1;
    width: 100%;

}
.link{
    font-size: 24px;
    height: 30px;
    border: 2px solid brown;
    background-color: brown;
    color:white;
    padding: 10px;
}
.link:hover{
    color:rgb(242, 205, 157);
}
.vid{
    text-align: center;
}
.vid h1{
  font-size: 40px;
}
.vid p{
    font-size: 25px;
}



/*footer starting*/

footer{
    position: relative;
    bottom:0;
    background-color: #24262b;
    height:300px;
    width:100%;
}

footer .row{
    display: flex;
    flex-direction: row;
}
footer ul{
list-style: none;
display: flex;
flex-direction: column;
}
.footer{
background-color: #24262b;
padding: 70px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{

font-size: 27px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}


footer ul li{
    font-size: 23px;
    margin-bottom: 20px;
    
}
.footer-col ul li a{
font-size: 16px;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
margin-left: -40px;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
.arrow{
    position :relative;
    position:sticky;
    left:1400px;
    bottom:100px;
     color:#bbbbbb;
     font-size: 50px;
 }
/*footer ending*/
