/* @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Caveat&family=Heebo:wght@300&family=Rubik:wght@300&display=swap'); */
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}


/*menu-bar starting*/

ul{
    list-style: none;
    display: inline-flex;
    margin-top: -15px;
}

 a{
    color:black;
    text-decoration: none;
}
header{
    z-index: 1;
    background-color:burlywood;
    position: fixed;
    top:0;
    height:150px;
    width:100%;
    
}
.communicate-us{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px ;
    height:60px;
    width:100%;
    font-size: 20px;
}
.sub-communicate-us{
    display: flex;
    flex-direction: row;  
   
}
.menu-bar{
    margin-right: 75px;
}
.fa-brands{
    color:black;
    padding-right: 15px;
    transition: 0.5s;
}
.fa-solid{
    padding-right: 7px;
    transition: 0.5s;
}
.fa-brands:hover{
    color:brown;
    font-size: 22px;
    transform:scaleX(1.1);

}
.fa-solid:hover{
    color:brown;
    transform:scaleX(1.1);

}
.connect{
    font-size: 18px;
    margin-left: 25px;
    font-weight: 600;
    transition: 0.5s;
}
.line{
    height: 0.5px;
    width:100%;
    background-color: black;
    position: relative;
    top:-40px;
}
.navigate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    width:100%;
    margin-top:0;
    font-size: 22px;
    

}
.sub-logo{
    margin-left: 55px;
    margin-top: -30px;
}
.sub-navigate{
    margin-right: 45px;
    margin-top: -12px;
}

.connect:hover{
    transform: scale(1.1);
    color:rgb(87, 17, 17);
    font-weight: 800;
}

.sub-navigate ul li .navi:hover{
    color:brown; 


}
.logo{
    height:60px ;
    width:60px;

}
.navi,.navi-button,.service{
    padding-right: 40px;
    font-weight: 600;
    position: static;
}


.service:hover{
    color: brown;
}
.navi-button{
    border:2px solid rgb(36, 7, 7);
    background-color:rgb(36, 7, 7) ;
    color:burlywood;
    padding: 5px;
    border-radius: 20px;
}
.navi-button:hover{
    color:rgb(226, 157, 68)
}
.sub-service{
    display: none;
    font-size: 20px;
}
.sub-service1:hover{

color:brown;
}
/*drop-down starting*/
.sub-navigate ul li:hover .sub-service ul li:hover{
font-weight: 1000;
}
.sub-navigate ul li:hover .sub-service {
    display: block;
    position: absolute;
    background-color: rgb(231, 228, 223);
    margin-top: 1px;
   margin-left: 0;

}
.sub-navigate ul li:hover .sub-service ul li{

    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.sub-navigate ul li:hover .sub-service ul li a{
    padding-right: 10px;
    font-size: 21px;
    font-weight: 700;
}
.sub-navigate ul li:hover .sub-service ul {
    padding-bottom: 10px;
    display: block;
    margin:1px;
}
.sub-service1.hover{
    display: block;

}
/*drop-down ends*/
/*menu-bar ending */

.bgimage{

    
    width:100%;
    height:700px;
    background-image:url("../images/index_page/timer.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    
}
.bgimage h1{
    text-transform: uppercase;
    font-weight: 200;
    font-size:55px;
    color:rgb(245, 237, 237);
    
    margin-left: 60px;
}
.bgimage p{
    font-size:20px;
    color:white;
    margin-left: 60px;
}
.part1{
    display: flex;
    flex-direction:row;
    height: 350px;
    width:100%;
}
.part1a,.part1b{
  height:250px;
  width:600px;   
 background-color: rgb(216, 195, 167);
 margin-top: 40px;
 margin-left: 70px;
 margin-right: 70px;
 margin-bottom: 40px;
}
.repair{
    height:250px;
    width:600px;  
    position: relative;
    top:20px;
    left:20px;
}

.repair:hover{
    height:230px;
    width:580px;  

}
.repaira{
    font-size: 30px;
    border:4px rgb(216, 195, 167) solid;
    height:50px;
    width:450px;
    background-color:rgb(216, 195, 167);
    position: relative;
    top:-20px;
    left:200px;

}
.bglogo{
    height:200px ;
    width: 200px;
    padding-top: 200px;
    margin-left:60px ;
}
.subvid{
    text-align: center;
}
.subvid1{
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
}
/*nav ends*/
.bg-image{
    height: 100px;
    width:100%;
    margin-top: 150px;
    background-color: rgb(220, 212, 212);
    text-align: center;
    padding-top: 10px;
    color: rgb(91, 27, 27);
}


.full_box{
    /* margin-top:180px; */
    margin-left:50px;
    display: flex;
    flex-direction:row;
    height:300px;
    width:840px;
border:1px solid black;
box-shadow: 10px 10px 20px grey;

}

#booker_image{
    margin-left:20px;
    margin-top:20px;
    height:260px;
    width:310px;
    border:1px solid black;

}
#book_email{
    margin-left: 40px;
   font-size: 1.1rem;
    display: inline-block;
}
#detail_box{
    margin-left:40px;
    margin-top:20px
}
#book_name{
    margin-left: 60px;
}
#book_category{
    margin-left: 75px;

}
#book_category_item{
    margin-left:23px
}
#book_height{
    margin-left: 95px;

}
#book_width{
    margin-left: 105px;

}
#detail_box p{
    font-size: 22px;
}
#full_detail_box{
    margin-top:20px
}
#whole_full_box{
    display: flex;
    flex-direction:column;
}
#track_report{
    /* margin-top:180px; */
    margin-left: 70px;
    height:260px;
    width:440px;
    border:solid 1px black;
    box-shadow: 10px 10px 20px grey;
    padding:20px

}

#whole_full_box{
    margin-top: 180px;
}
#underprocess{
    font-size: 25px;
    color:blue;
    text-align: center;
}
#both_box{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
#para_track_report{
    
    font-size:22px;
    text-align: center;
    
}
#status{
    text-align: center;
    font-size:30px;
}
#accepted{
    color: green;
    text-align: center;
    font-size:25px;

}
#rejected{
    color:red;
    text-align: center;
    font-size:25px;

}
#track_report a{
    color:white;
  
    border:1px solid black;
    font-size: 20px;
    padding:5px;
    background-color: rgb(95, 33, 33);

}
#clarify{
    position: relative;
    top:50px;
    left:30px;
}
#pickup{
    position: relative;
    top:50px;
    left:70px;
}
